@model IEnumerable<Job>

@{ ViewData["Title"] = "Jobs"; }

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><strong>@item.Company</strong></td>
                    <td>@item.Title</td>
                    <td>@item.Location</td>
                    <td>@item.PostedAt.ToString("MMM, dd, yyyy")</td>
                    <td>
                        <span class="badge badge-contract"><i class="fa fa-gavel"></i> @item.ContractType.Name</span>
                        @if (item.IsRemote)
                        {
                            <span class="badge badge-remote"><i class="glyphicon glyphicon-globe"></i> Remote</span>
                        }
                        @if (item.IsVisaSponsor)
                        {
                            <span class="badge badge-visa"><i class="fa fa-id-card-o"></i> Visa Sponsor</span>
                        }
                    </td>
                    <td><a asp-controller="Jobs" asp-action="Details" asp-route-id="@item.Id"><span class="glyphicon glyphicon-share-alt"></span> Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
